.main{
  position: relative;   
  background-color: $app-bg;
  min-height: 100%;
  @include breakpoint(xl){
    margin-left: $sidebar-width;       
    // display: flex;
    // flex-direction: column;    
  }  
}