
.modal{
  .modal-close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    @include outline(0);
    cursor: pointer;
    border: none;  
    display: inline-flex;
    padding: 0;  
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    background: transparent;    
    &:hover, &:active, &:focus, &:active:hover{
      @include outline(0);
      background: transparent;      
    }  
  }  
  .mod-body{
    padding: 40px 20px 10px;
    .form-group{
      .ret-label{
        font-weight: 400;
        color: #656d9a;
        font-size: 13px;
      }      
    }
  }
  .mod-btn-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;
    &.left{
      justify-content: flex-start;
    }
    &.right{
      justify-content: flex-end;
    }
  }
  .mod-title{
    font-family: $global-font-family;
    font-size: 18px;
    line-height: 1.57;
    color: #50649C;  
    text-align: justify;  
    &:not(:last-child){
      margin-bottom: 1em;
    } 
  }
  .mod-text{    
    font-family: $global-font-family;
    font-size: 14px;
    line-height: 1.57;
    color: #A5ABC3;
    text-align: justify;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    .accent{
      color: #50649C;
      font-weight: 700;
    }
  }
}
.modal-content{
  border-radius: 5px;
}
@include breakpoint(xl){
  .modal-dialog {
    max-width: 602px;    
  }
}
.modal-backdrop.show {
  opacity: 0.4;
}