.table.v1{
  th{
    border: none;
    font-family: $secondary-font-family;    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    color: #50649C;
    white-space: nowrap;
  }
  td{
    font-family: $secondary-font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: #50649C;
    white-space: nowrap;
  }
}