.btn-v1{
  @include outline(0);
  cursor: pointer;
  border: none;  
  display: inline-flex;
  padding: 10px 20px;  
  justify-content: center;
  align-items: center;
  min-width: 96px;
  height: 45px;   
  border-radius: 4px;
  font-family: $secondary-font-family;  
  font-weight: 500;
  font-size: 18px;
  line-height: 1.27;
  text-align: center;
  background: #4D79F6;
  color: #FFFFFF; 
  &:hover, &:active, &:focus, &:active:hover{
    @include outline(0);
    // background: #4D79F6;
    // color: #FFFFFF;  
  }  
}