$pl-color: #7686A0;
input::-webkit-input-placeholder {
	color: $pl-color !important;
}  
input:-moz-placeholder { 
	color: $pl-color !important;
}  
input::-moz-placeholder {  
	color: $pl-color !important;
}  
input:-ms-input-placeholder {  
	color: $pl-color !important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff;
	-webkit-text-fill-color: $pl-color;  
}


// input[type='text'],
// input[type='email'],
// input[type='tel'],
// input[type='password'],
// input[type='search'],
// textarea {
//   &::-webkit-input-placeholder {    
//     color: #7686A0;
//   }
//   &::-moz-placeholder {   
//     color: #7686A0;
//   }
//   &:-ms-input-placeholder {    
//     color: #7686A0;
//   }
//   &:-moz-placeholder {   
//     color: #7686A0;
//   }
// }

textarea {
  resize: vertical;
}



.ret-form-control {
	@include outline(0);
	display: block;
	width: 100%;	
	height: $input-height;
	font-family: $secondary-font-family;	
	font-weight: 400;
	font-size: 13px;
	line-height: 1.46;
	color: #2F5275;
	background-color: #fff;
	padding: 8px 10px;
	border: 1px solid #EBF0F7;	
	border-radius: 5px;
	&:hover, &:active, &:focus, &:active:hover{
		@include outline(0);
		border: 1px solid #EBF0F7;	
		box-shadow: none;
	}
	&:disabled, &.disabled{
		background-color: #F2F5FA;
	}	
	&[readonly][data-input=reason]{
		background-color: #fff;
	}
}

// .ret-custom-select {	
// 	width: 100%;
// 	height: 38px;
// 	padding: 8px 10px;
// 	font-family: $secondary-font-family;	
// 	font-weight: 400;
// 	font-size: 13px;
// 	line-height: 1.46;
// 	color: #2F5275;
// 	vertical-align: middle;	
// 	border: 1px solid #EBF0F7;	
// 	border-radius: 5px;
// 	-webkit-appearance: none;	
// 	background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M3.89697 6.125L7.79423 0.875H0L3.89697 6.125Z' fill='%23888888'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
// 	cursor: pointer;
// 	&:hover, &:active, &:focus, &:active:hover{
// 		@include outline(0);
// 		border: 1px solid #EBF0F7;	
// 		box-shadow: none;
// 	}
// }
.input-group-append{
	cursor: pointer;
}
.ret-input-group-text{	
	padding: 8px 10px;
	font-family: $secondary-font-family;	
	font-weight: 400;
	font-size: 13px;
	line-height: 1.46;
	color: #50649C;
	background-color: #fff;
	border: 1px solid #EBF0F7;	
	border-radius: 5px;
	-webkit-appearance: none;	
	user-select: none;
	// transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	// &:hover, &.active, &:active, &:focus, &:active:hover,
  // &:not(:disabled):not(.disabled).active,
  // &:not(:disabled):not(.disabled):active {
  //   @include outline(0);
  //   color: #212529;
  //   background-color: #dee8f3;
  //   border: 1px solid #dee8f3;
  // }
}

	
  

.input-group-color-append {
	display: flex;
	cursor: pointer;
	margin-left: -1px;
	width: 40px;
}
.ret-color-picker{
	@include outline(0);	
	padding: 6px 9px;
	cursor: pointer;	
	height: 100%;
	border: 1px solid #EBF0F7;
  border-radius: 5px;
	background-color: #fff;	
	&:hover, &:active, &:focus, &:active:hover{
		@include outline(0);			
		box-shadow: none;
	}
}
.input-group > .input-group-color-append > .ret-color-picker{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.input-group > .input-group-append > .input-group-btn{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.form{
	// &:not(:last-child){
	// 	margin-bottom: 42px;
	// }
	margin-bottom: 42px;
}

.input-group-prepend{
	.checkbox-container{
		width: 25px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

.input-visibility-group{
	position: relative;
	.visibility-icon{
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0,-50%);
	}
	&.visibility{
		.visibility-icon{
			path{
				fill: #50649C;
			}			
		}
	}
}