$pl-color: #7686A0;
input::-webkit-input-placeholder {
	color: $pl-color !important;
}  
input:-moz-placeholder { 
	color: $pl-color !important;
}  
input::-moz-placeholder {  
	color: $pl-color !important;
}  
input:-ms-input-placeholder {  
	color: $pl-color !important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: inset 0 0 0 50px #fff;
	-webkit-text-fill-color: $pl-color;  
}


// input[type='text'],
// input[type='email'],
// input[type='tel'],
// input[type='password'],
// input[type='search'],
// textarea {
//   &::-webkit-input-placeholder {    
//     color: #7686A0;
//   }
//   &::-moz-placeholder {   
//     color: #7686A0;
//   }
//   &:-ms-input-placeholder {    
//     color: #7686A0;
//   }
//   &:-moz-placeholder {   
//     color: #7686A0;
//   }
// }

textarea {
  resize: vertical;
}



.ret-form-control {
	@include outline(0);
	display: block;
	width: 100%;	
	height: 38px;
	font-family: $secondary-font-family;	
	font-weight: 400;
	font-size: 13px;
	line-height: 1.46;
	color: #2F5275;
	background-color: #fff;
	padding: 8px 10px;
	border: 1px solid #EBF0F7;	
	border-radius: 5px;
	&:hover, &:active, &:focus, &:active:hover{
		@include outline(0);
		border: 1px solid #EBF0F7;	
		box-shadow: none;
	}
}

// .ret-custom-select {	
// 	width: 100%;
// 	height: 38px;
// 	padding: 8px 10px;
// 	font-family: $secondary-font-family;	
// 	font-weight: 400;
// 	font-size: 13px;
// 	line-height: 1.46;
// 	color: #2F5275;
// 	vertical-align: middle;	
// 	border: 1px solid #EBF0F7;	
// 	border-radius: 5px;
// 	-webkit-appearance: none;	
// 	background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath d='M3.89697 6.125L7.79423 0.875H0L3.89697 6.125Z' fill='%23888888'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
// 	cursor: pointer;
// 	&:hover, &:active, &:focus, &:active:hover{
// 		@include outline(0);
// 		border: 1px solid #EBF0F7;	
// 		box-shadow: none;
// 	}
// }
.input-group-append{
	cursor: pointer;
}
.ret-input-group-text{	
	padding: 8px 10px;
	font-family: $secondary-font-family;	
	font-weight: 400;
	font-size: 13px;
	line-height: 1.46;
	color: #50649C;
	background-color: #fff;
	border: 1px solid #EBF0F7;	
	border-radius: 5px;
	-webkit-appearance: none;	
	user-select: none;
}

.select2{

}