.faq-two-card-grid{
  display: grid;
  grid-gap: 24px 24px;
  grid-template-columns: 100%;  
  @include breakpoint(xl){
    // grid-template-columns: minmax(45%,1fr) minmax(45%,1fr);
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
  flex-wrap: wrap;
  &:not(:last-child){
    margin-bottom: 24px;
  }
  // .h-card{}
}
.togler-container{
  &:not(:last-child){
    margin-bottom: 4px;
  }
}
.question-block{
  &:not(:last-child){
    margin-bottom: 32px;
  }
}

.question-text{
  font-family: $global-font-family;    
  font-size: 14px;
  line-height: 1.57;    
  color: #A5ABC3;  
  &:not(:last-child){
    margin-bottom: 16px;
  }
  padding-left: 16px;
}